<a href="https://colab.research.google.com/github/mgmurugesh/Machine-learning-Example/blob/main/Logistic_Regression_Learning_Ex_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##  LOGISTIC REGRESSION

### Formula

a) Y-hat =predicted value
b) X=Independent variable
c) w =weight
d) b=bias

Gradient Descent:
It is an optimization of algorithm for minimizing the loss function in various ML process.  Also, used for updating the parameters of the learning model.

1) w = w + a*dw
     2)     b= b + a*db

IMPORTING DEPENDENCIS

In [ ]:
import numpy as np

LOGISTIC REGRESSION  FUNCTION

In [ ]:
class Logistic_Regression():
## Initiating learning rate and number of iteration====hyper parameters
  def __init__(self,learning_rate,no_of_iterations):
    self.learning_rate=learning_rate
    self.no_of_iterations=no_of_iterations

## fit function to train the model of given data set
  def fit(self,X,Y):

    ## Number of datapoints in the dataset(Numer of rows----m)
    ## Number of input features in the data point( number of columns----n)
    self.m, self.n =X.shape

    ## Initiating weight and bias values
    self.w=np.zeros(self.n)

    self.b=0

    self.X=X

    self.Y=Y

## implementing gradient descent---for optimization
    for i in range(self.no_of_iterations):
      self.update_weights()

  def update_weights(self):
    #Y-hat formula(sigmoid function)

    ##Y-hat=1/(1+np.exp(-z))
    Y_hat=1 / (1+np.exp(-(self.X.dot(self.w)+self.b))) ## Z value subsitituted and dot means dot matrix form
    ## x is in array because it has 8 features, W also in array form for features weight

    ## calculating derivatives dw and db

    dw=(1/self.m)*np.dot(self.X.T,(Y_hat-self.Y)) # T-means transpose matrix

    db=(1/self.m)*np.sum(Y_hat-self.Y)

    ## Writing sigmoid equation and decision boundry  Y-hat either 1 or 0

  def predict(self,X):

    Y_pred=1/(1+np.exp(-(X.dot(self.w)+ self.b)))
    Y_pred=np.where(Y_pred > 0.5, 1, 0)
    return Y_pred

WORK FLOW OF LOGISTIC REGRESSION

Step 1: Set learning rate & Number of iterations; Initiate Random weight and bias value

Step 2: Build Logistic regaression function--sigmoid function

Step 3:Update parameters using gradient descent

Finally we get the best model as it has minimum cost function


Step 4: Build predict function to dertermine the class of the data point.

### DATA COLLECTION AND ANALYSIS

### PIMA  Diabetes set

In [ ]:
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [ ]:
## loading diabetes set in pandas Dataframe
diabetes_dataset=pd.read_csv("/content/diabetes.csv")

In [ ]:
## printing 5 rows of column
diabetes_dataset.head(5)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [ ]:
diabetes_dataset.shape

(768, 9)

In [ ]:
diabetes_dataset.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [ ]:
diabetes_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

In [ ]:
diabetes_dataset.isnull().sum()

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

In [ ]:
diabetes_dataset['Outcome'].value_counts()

0    500
1    268
Name: Outcome, dtype: int64

In [ ]:
diabetes_dataset.groupby("Outcome").mean()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
Outcome,,,,,,,,
0,3.298000,109.980000,68.184000,19.664000,68.792000,30.304200,0.429734,31.190000
1,4.865672,141.257463,70.824627,22.164179,100.335821,35.142537,0.550500,37.067164

In [ ]:
##separating the data and labels
features = diabetes_dataset.drop(columns='Outcome',axis=1)
target=diabetes_dataset['Outcome']

In [ ]:
print(features)

     Pregnancies  Glucose  BloodPressure  SkinThickness  Insulin   BMI  \
0              6      148             72             35        0  33.6
1              1       85             66             29        0  26.6
2              8      183             64              0        0  23.3
3              1       89             66             23       94  28.1
4              0      137             40             35      168  43.1
..           ...      ...            ...            ...      ...   ...
763           10      101             76             48      180  32.9
764            2      122             70             27        0  36.8
765            5      121             72             23      112  26.2
766            1      126             60              0        0  30.1
767            1       93             70             31        0  30.4

     DiabetesPedigreeFunction  Age
0                       0.627   50
1                       0.351   31
2                       0.672   32
3                       0.167   21
4                       2.288   33
..                        ...  ...
763                     0.171   63
764                     0.340   27
765                     0.245   30
766                     0.349   47
767                     0.315   23

[768 rows x 8 columns]

In [ ]:
print(target)

0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 768, dtype: int64

### DATA STANDARDIZATION

In [ ]:
scaler=StandardScaler()

In [ ]:
scaler.fit(features)

StandardScaler()

In [ ]:
standardized_data=scaler.transform(features)

In [ ]:
print(features)
print(target)

     Pregnancies  Glucose  BloodPressure  SkinThickness  Insulin   BMI  \
0              6      148             72             35        0  33.6
1              1       85             66             29        0  26.6
2              8      183             64              0        0  23.3
3              1       89             66             23       94  28.1
4              0      137             40             35      168  43.1
..           ...      ...            ...            ...      ...   ...
763           10      101             76             48      180  32.9
764            2      122             70             27        0  36.8
765            5      121             72             23      112  26.2
766            1      126             60              0        0  30.1
767            1       93             70             31        0  30.4

     DiabetesPedigreeFunction  Age
0                       0.627   50
1                       0.351   31
2                       0.672   32
3                       0.167   21
4                       2.288   33
..                        ...  ...
763                     0.171   63
764                     0.340   27
765                     0.245   30
766                     0.349   47
767                     0.315   23

[768 rows x 8 columns]
0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 768, dtype: int64

## Train,Test Split function.

In [ ]:
X_train,X_test,Y_train,Y_test = train_test_split(features,target, test_size=0.2, random_state=2)

In [ ]:
print(features.shape,X_train.shape, X_test.shape)

(768, 8) (614, 8) (154, 8)

### Training Model

In [ ]:
classifier=Logistic_Regression(learning_rate=0.01, no_of_iterations=1000)

In [ ]:
## Training 
classifier.fit(X_train,Y_train)

MODEL Evauation

Accuracy Score

In [ ]:
## Accuracy score on the training data
X_train_prediction=classifier.predict(X_train)
test_data_accuracy=accuracy_score(Y_train,X_train_prediction)

In [ ]:
print("Accuracy Score of the test data:",test_data_accuracy )

Accuracy Score of the test data: 0.6368078175895765

In [ ]:
## Accuracy Score on he test data
X_test_prediction=classifier.predict(X_test)
test_data_accuracy=accuracy_score(Y_test,X_test_prediction)

In [ ]:
## printing test data accuracy
print("Accuracy score of test data:", test_data_accuracy)

Accuracy score of test data: 0.7077922077922078

## Making a Predictive System

In [ ]:
## Unknown person data from prgnancy to Age in the table form
input_data=(5,166,72,19,175,25.8,0.587,51)
## changing the nput data to numpy array
input_data_as_numpy_array=np.asarray(input_data)

## reshape the array as predicting value for one instance
input_data_reshaped = input_data_as_numpy_array.reshape(1,-1)

## Standardize the input data
std_data=scaler.transform (input_data_reshaped)
print(std_data)

prediction = classifier.predict(std_data)
print(prediction)

if (prediction[0]==0):
  print("The person is not Diabetic")
else:
  print("The person is Diabetic")

[[ 0.3429808   1.41167241  0.14964075 -0.09637905  0.82661621 -0.78595734
   0.34768723  1.51108316]]
[0]
The person is not Diabetic

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  "X does not have valid feature names, but"

# GOOD JOB